<ion-nav-view>
  <ion-view view-title="My Page">
    <ion-content class="padding">
            <button class="button button-block button-positive" ng-click="login.ir_a_mapa('ventas')">
                Ingresar - Asesor ventas
            </button>

            <button class="button button-block button-positive" ng-click="login.ir_a_mapa('compras')">
                Ingresar - Asesor compras
            </button>

            <button class="button button-block button-positive" ng-click="login.reset_local()">
              reset local storage
            </button>
    </ion-content>
  </ion-view>
</ion-nav-view>